@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
  background-image: url("/images/pattern-curve.svg");
  background-position: bottom  left;
  background-repeat: no-repeat;
}
